body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #433e49;
}
a {
  text-decoration: none;
  color: #433e49;
}
h2 {
  font-weight: normal;
}
.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.cursors:hover {
  cursor: pointer;
}
.buttonStyle {
  border: none;
  color: #f5f5f5;
  background-color: #138b3c;
}
.singatureColor {
  background-color: #138b3c;
  border: none;
  color: white;
}
.singatureColor:hover {
  background-color: rgba(19, 139, 60, 0.7);
}
