.card-wrapper {
  max-height: 300px;
  margin-top: 30px;
}
.card {
  background-color: white;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  box-shadow: 0px 4px 15px rgb(0, 0, 0, 0.15);
  position: relative;
}
.card :hover > .višeButton {
  transform: scale(1.1);
}
.cardImageDiv {
  width: 100%;
  height: 11.25em;
  pointer-events: none;
}
.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.itemDescription p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.8em;
  line-height: 1.5em;
}
.itemName h4 {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cardDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.cardDescriptionLeft {
  display: flex;
  font-size: 18px;
  padding: 0px 15px;
}
.cardDescriptionPlace {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px 0 0 10px;
  color: #5e5e5e;
}
.itemName {
  font-family: "Bitter", serif;
}
.CityName {
  font-size: 0.85em;
  margin-left: 2px;
}
h4 {
  margin: 0;
}
.itemDescription {
  display: flex;
  color: #5e5e5e;
}
.cardDescriptionRight {
  display: flex;
  align-items: center;
  padding: 10px 0 0 10px;
}
.saznajVise {
  margin-right: 5px;
}
.itemDescription {
  padding: 2px 10px 0 10px;
}
.viseButtonDiv {
  display: flex;
  color: #13402b;
  width: 100%;
  padding-bottom: 5px;
}
.heartImage {
  max-width: 18px;
  height: 18px;
  fill: white;
  stroke: #433e49;
  stroke-width: 10px;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: all 0.15s;
  z-index: 100;
}
.heartImage :hover {
  transform: scale(1.1);
}
.heartImageRed {
  max-width: 18px;
  height: 18px;
  position: absolute;
  fill: red;
  stroke: #433e49;
  stroke-width: 10px;
  top: 5px;
  right: 5px;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
@media only screen and (max-width: 479.99px) {
  .card {
    font-size: 10px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 559.99px) {
  .card {
    font-size: 14px;
  }
}
@media only screen and (min-width: 560px) and (max-width: 767.99px) {
  .card {
    font-size: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023.99px) {
  .card {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279.99px) {
  .card {
    font-size: 14px;
  }
}
