.filterSort {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: black;
  z-index: 1000;
  background-color: white;
  right: 110px;
  width: 17%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.85);
  margin: 0 auto;
  margin-top: 50px;
}
.xButton {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: grey;
  top: 8px;
  right: 8px;
}
.filterText {
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.filterCity {
  text-align: left;
}
.primjeni {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.primjeniButton {
  width: 60%;
  margin: 20px 0;
  padding: 10px;
  border: none;
  color: white;
  background-color: #138b3c;
  transition: all 0.15s;
}
.obrišiButton {
  width: 60%;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #138b3c;
  color: #138b3c;
  background-color: white;
  transition: all 0.15s;
}
.obrišiButton:hover,
.primjeniButton:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 479.99px) {
  .filterSort {
    width: 50%;
    font-size: 12px;
    right: 30px;
    margin-top: 28px;
  }
  .primjeniButton {
    font-size: 10px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 559.99px) {
  .filterSort {
    width: 40%;
    font-size: 12px;
    right: 50px;
    margin-top: 40px;
  }
  .primjeniButton {
    font-size: 12px;
  }
}
@media only screen and (min-width: 560px) and (max-width: 767.99px) {
  .filterSort {
    width: 30%;
    font-size: 12px;
    right: 50px;
    margin-top: 40px;
  }
  .primjeniButton {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023.99px) {
  .filterSort {
    width: 25%;
    font-size: 14px;
    right: 50px;
  }
  .primjeniButton {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279.99px) {
  .filterSort {
    width: 20%;
    right: 50px;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
}
