.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 250;
}
.overlay {
  background: rgba(49, 49, 49, 0.8);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.close-modal {
  position: absolute;
  top: 5px;
  right: 10px;
}

.popup {
  width: 30%;
  margin: 0 auto;
  margin-top: 150px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}
.type {
  border-bottom: solid #959595;
  border-width: 2px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.typeButton {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 25px 0;
}
.prijavaButton,
.registracijaButton {
  width: 30%;
  padding: 8px 0;
}
.prijavaButton {
  margin-right: 10px;
  border: none;
  background-color: #138b3c;
  color: white;
}
.registracijaButton {
  margin-left: 10px;
  border-style: solid;
  border-color: #138b3c;
  background-color: white;
  color: #138b3c;
}
.prijavaButton:hover,
.registracijaButton:hover,
.googleButton:hover,
.loginButton:hover,
.prijavaButtonReg:hover,
.registracijaButtonReg:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.googleSignUp {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.googleButton {
  width: 40%;
  border: none;
  color: grey;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.googleImageImg {
  width: 4em;
  height: 3em;
}
.googleText {
  font-size: 0.875em;
}
h5 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid grey;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

h5 span {
  background: #fff;
  color: grey;
  font-weight: lighter;
  padding: 0 10px;
}
.input,
.inputPersonal {
  display: flex;
  justify-content: center;
}
.inputPersonal {
  margin: 25px 0 20px 0;
}
.emailInput,
.passInput {
  padding: 10px 0px 10px 5px;
  background-color: rgba(217, 217, 217, 0.4);
  color: #989898;
  border: solid rgba(99, 99, 99, 0.931);
  border-width: thin;
}
.emailInput {
  margin-right: 5px;
}
.passInput {
  margin-left: 5px;
}
.loginButton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.loginButtonB {
  padding: 10px 0;
  width: 40%;
  border: none;
  color: white;
  background-color: #138b3c;
  margin-bottom: 50px;
}
.prijavaButtonReg,
.registracijaButtonReg {
  width: 30%;
  padding: 8px 0;
}
.registracijaButtonReg {
  margin-left: 10px;
  border: none;
  background-color: #138b3c;
  color: white;
}
.prijavaButtonReg {
  margin-right: 10px;
  border-style: solid;
  border-color: #138b3c;
  background-color: white;
  color: #138b3c;
}
@media only screen and (max-width: 479.99px) {
  .popup {
    font-size: 12px;
    width: 85%;
  }
  .googleButton {
    width: 55%;
  }
  .prijavaButton,
  .registracijaButton,
  .emailInput,
  .passInput {
    width: 40%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 559.99px) {
  .popup {
    font-size: 14px;
    width: 80%;
  }
  .googleButton {
    width: 48%;
  }
  .prijavaButton,
  .registracijaButton {
    width: 35%;
  }
}
@media only screen and (min-width: 560px) and (max-width: 767.99px) {
  .popup {
    font-size: 14px;
    width: 75%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023.99px) {
  .popup {
    font-size: 16px;
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279.99px) {
  .popup {
    font-size: 16px;
    width: 40%;
  }
  .googleButton {
    width: 45%;
  }
}
