.header {
  height: 80px;
  display: flex;
  justify-content: center;
  background-color: #13402b;
}
.navTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  height: 95%;
}
.logoSection {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 95%;
}
.logoImage {
  height: 80%;
  margin-left: -10px;
}
.loginNewPostSection {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 16px;
}
.hamburgerMenu {
  display: none;
  width: 2.5em;
  fill: "none";
  stroke: #433e49;
  stroke-linecap: "round";
  stroke-linejoin: "round";
  stroke-width: 1.5;
}
.pagesLink {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.pagesLinkNaslovnica {
  padding-right: 0.625em;
}
.pagesLinkOnama {
  padding-right: 1.875em;
}
.pagesLink a,
.categoryLink a {
  transition: color 0.15s;
  color: white;
}
.pagesLink a:hover,
.categoryLink a:hover {
  color: #fbd85b;
}
.active {
  text-decoration: underline;
  text-decoration-color: #fbd85b;
  text-decoration-thickness: 2px;
  color: #fbd85b;
}
.categoryLink a:active,
.pagesLinkOnama a:focus,
.pagesLinkNaslovnica a:focus,
.categoryLink a:focus {
  text-decoration: underline;
  text-decoration-color: #fbd85b;
  color: #fbd85b;
  text-decoration-thickness: 2px;
}
.novaObjavaButton {
  margin-right: 5px;
  width: 133px;
  height: 34px;
  font-size: 0.875em;
  border: none;
  background-color: #138b3c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.75em;
}
.plusSignIcon {
  width: 1.5em;
  height: 1.5em;
  fill: white;
}
.novaObjavaButton:hover {
  border-style: solid;
  border-color: white;
  border-width: thin;
}
.loginImageDiv {
  display: flex;
  align-items: center;
  color: white;
}
.loginImage {
  width: 2.125em;
  fill: white;
  transition: content 0.15s;
}
.loginImage:hover {
  fill: #fbd85b;
}

.searchIconHide {
  display: none;
  fill: white;
  width: 32px;
  height: 30px;
}

.bm-burger-button {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 28px;
  right: 36px;
  top: 22px;
  justify-self: end;
}

.bm-burger-bars {
  background: white;
  transition: all 0.3s;
}

.bm-burger-bars-hover {
  transform: scale(1.05);
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #000000;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  margin-top: -35px;
  background: #ffffff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden !important;
  box-shadow: 0px 1px 3px grey;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  padding: 1.2em;
  border-bottom: solid 1px #13402b;
  display: inline-block;
  color: black;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.categoryHeader {
  display: flex;
  height: 65px;
  justify-content: center;
  box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.1);
  background-color: #024f33;
}
.navBottom {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.categoryList {
  flex: 2;
  font-size: 14px;
}
.searchInput {
  flex: 1;
  text-align: right;
  position: relative;
}
.categoryLink {
  padding-left: 20px;
  text-decoration: none;
  font-size: 0.9357em;
}
.searchInputElement {
  padding-left: 25px;
  width: 257px;
  height: 25px;
  color: #787777;
  outline: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.searchIcon {
  position: absolute;
  top: 1px;
  right: 16em;
  width: 1.6em;
  height: 1.6em;
  stroke: #787777;
  fill: white;
}
.slideList {
  display: none;
}
@media only screen and (max-width: 479.99px) {
  .categoryHeader {
    display: none;
  }
  .hamburgerMenu {
    display: block;
  }
  .pagesLink,
  .loginImageDiv {
    display: none;
  }
  .searchIconHide {
    display: block;
    margin: 2px 15px 0 0;
  }
  .slideList {
    display: flex;
    flex: 2;
    color: white;
  }
  .header {
    box-shadow: inset 0px -11px 8px -10px rgba(0, 0, 0, 0.1);
  }
}
@media only screen and (min-width: 480px) and (max-width: 559.99px) {
  .categoryList,
  .searchInput {
    display: none;
  }
  .hamburgerMenu {
    display: block;
  }
  .pagesLink,
  .loginImageDiv {
    display: none;
  }
  .searchIconHide {
    display: block;
    width: 30px;
    height: 30px;
    margin: 2px 15px 0 0;
  }
  .slideList {
    display: flex;
    flex: 2;
    color: white;
  }
}
@media only screen and (min-width: 560px) and (max-width: 768px) {
  .categoryList {
    display: none;
  }
  .hamburgerMenu {
    display: block;
  }
  .pagesLink,
  .loginImageDiv,
  .searchInput {
    display: none;
  }
  .loginNewPostSection {
    font-size: 12px;
  }
  .novaObjavaButton {
    width: 80px;
    height: 22px;
  }
  .categoryList {
    font-size: 14px;
  }
  .searchIconHide {
    display: block;
    width: 30px;
    height: 30px;
    margin: 2px 15px 0 0;
  }
  .slideList {
    display: flex;
    flex: 2;
    color: white;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023.99px) {
  .loginNewPostSection {
    font-size: 12px;
  }
  .novaObjavaButton {
    width: 90px;
    height: 25px;
  }
  .categoryList {
    display: none;
  }
  .searchInput {
    width: 20%;
  }
  .searchInputElement {
    width: 200px;
    height: 25px;
  }
  .searchIcon {
    right: 12.4em;
  }
  .slideList {
    display: flex;
    flex: 2;
    color: white;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279.99px) {
  .loginNewPostSection {
    font-size: 12px;
  }
  .novaObjavaButton {
    width: 100px;
    height: 25px;
  }
  .categoryList {
    display: none;
  }
  .slideList {
    display: flex;
    flex: 2;
    color: white;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  .novaObjavaButton {
    width: 120px;
    height: 30px;
  }
  .loginImage {
    width: 30px;
  }
  .loginImage:hover {
    width: 34px;
  }
  .categoryList {
    display: none;
  }
  .slideList {
    display: flex;
    flex: 2;
  }
}
