.profilBody {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  flex-wrap: wrap;
  font-size: 16px;
}
@media only screen and (min-width: 480px) and (max-width: 559.99px) {
  .profilBody {
    flex-direction: column;
  }
}
@media only screen and (min-width: 560px) and (max-width: 768.99px) {
  .profilBody {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023.99px) {
  .profilBody {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1279.99px) {
  .profilBody {
    flex-direction: column;
  }
}
